.CreateJobTitle {
    padding-bottom: 30px;
}

.CreateJobForm {
    padding-top: 20px;
}

.CreateJobFormSummary {
    padding-bottom: 20px;
}

.CreateJobFormDetailed {
    padding-bottom: 20px;
}

.CreateJobFormSeperator {
    padding-bottom: 20px;
}