h3{
    padding-top: 5%;
}
Image{
    max-width: 100%;
}
.profilHeadline{
    color: gray;
}
.resume {
    color: gray;
}
.education{
    color: gray;
}
.experience{
    color: gray;
}
.skills{
    color: gray;
}