h3{
    padding-top: 5%;
}
Image{
    max-width: 100%;
}
.resume {
    color: gray;
}
.education{
    color: gray;
}
.experience{
    color: gray;
}
.skills{
    color: gray;
}
.form__group {
    display: flex;
}
h3 span { font-size:16px; }